<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <form action="javascript:history.back()">
            <input type="submit" value="Back" />
        </form>
        <%- include('./partials/banner.ejs') %>
        <h2>Add a New Topic</h2>
        <form action="/thread/<%=forumID%>/?forum=<%=forumOrigin %> " method="POST">
            <label for="name">Thread name: </label>
            <input type="text" name="name"></br >
            <textarea name="content" id="threadContent" cols="30" rows="10"></textarea>
            <input type="submit" value="Add">
        </form>
        <script>
            tinymce.init({
                selector: 'textarea#threadContent',
                plugins: 'paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars image link codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount textpattern noneditable help charmap quickbars emoticons',
                menubar: '',
                toolbar: '| emoticons codesample | undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor',
            });
        </script>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>