<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="banner">
                <a href="/" title="Index">
                    <img src="" alt="">
                </a>
            </div>
            <div class="content">
                <div class="chatPlace">
                    <%- include('./partials/chat.ejs') %>
                </div>
                <div class="cat-menu">
                    <% category.forEach(category=> { %>
                        <button onclick="show('<%= category.category%>')" class="category <%=category.category%>"
                            id="<%category.category%>">
                            <%=category.category%>
                        </button>
                        <% }) %>
                            <% if (currentUser) { %>
                                <% if (currentUser.username==="admin" ) {%>
                                    <div>
                                        <form action="/category">
                                            <input type="submit" value="Cat-Index">
                                        </form>
                                    </div>
                                    <% } %>
                                        <% } %>
                </div>
                <% category.forEach(category=> { %>
                    <div class="cat-content cat-<%=category.category%> hidden">
                        <table>
                            <tr>
                                <th></th>
                                <th>Forum</th>
                                <th>Threads</th>
                                <th>Posts</th>
                                <th>Last Post</th>
                            </tr>
                            <tr class="col-icon">
                                <td><img src="" alt=""></td>
                                <td>
                                    <%= category.category%>
                                </td>
                                <td>123</td>
                                <td>1333</td>
                                <td>Epic announcement</td>
                            </tr>
                        </table>
                    </div>
                    <% }) %>
            </div>
            <script>
                function show(id) {
                    $('.cat-content').addClass('hidden')
                    $('.cat-' + id).removeClass('hidden')
                }
            </script>
    </body>

</html>