<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <form action="/category/<%=category._id%>">
        <input type="submit" value="Back" />
    </form>
    <form action="/category/<%=category._id%>?_method=PUT" method="POST">
        <input type="text" name="category" value="<%= category.category%>">
        <input type="submit">
    </form>
    <%- include('../partials/footer.ejs') %>
</body>
</html>