<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <form action="javascript:history.back()">
        <input type="submit" value="Back" />
    </form>
        <h3><%= forum.name %> </h3>
        <h3>Topics</h3>
        <div class="cat-content cat-<%=forum.name%>">
            <% if (currentUser) { %>
                <div>
                    <form action="/thread/<%=forum._id%>/new-thread">
                        <input type="submit" value="Add Topic">
                    </form>
                </div>
                    <% } %>
            <table>
                <tr>
                    <th>Topic</th>
                    <th>Replies</th>
                    <th>By</th>
                    <th>Date</th>
                </tr></br >
                <% forum.threads.forEach(thread=> { %> 
                <tr class="col-icon">
                    <td>
                        <a href="/thread/<%=thread._id%>/?forum=<%=forum._id%> "><%=thread.name %></a>
                    </td>
                    <td><%= thread.comments.length %> </td>
                    <td><%=thread.creator.username%> </td>
                    <td><%=thread.createdAt.getDate() + '-' + thread.createdAt.getMonth() + '-' + thread.createdAt.getFullYear()%> </td>
                    <% }) %> 
                </tr>
            </table>
        </div>
</body>
</html>